<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafeComment">

	<insert id="insert" parameterType="commentDto">
		INSERT INTO board_cafe_comment
		(num, writer, content, target_id, ref_group, comment_group, regdate)
		VALUES(#{num}, #{writer}, #{content},
		#{target_id}, #{ref_group}, ${comment_group}, SYSDATE)
	</insert>
	
	<select id="getSequence" resultType="int">
		SELECT board_cafe_seq.NEXTVAL
		FROM DUAL 
	</select>
	
	<select id="getList" parameterType="int" resultType="test.cafe.dto.CafeCommentDto">
		SELECT num, writer, content, target_id, ref_group, comment_group, 
				TO_CHAR(regdate, 'YYYY.MM.DD HH24:MM') regdate
		FROM board_cafe_comment
		WHERE ref_group=#{num}
		ORDER BY comment_group ASC, num ASC
	</select>
	<!-- comment_group에 대해서 정렬 1차 하고, 그 상태에서 num으로 정렬 2차 함. -->
	
	<delete id="delete" parameterType="int">
		DELETE FROM board_cafe_comment
		WHERE num=#{num}
	</delete>
	
	<update id="update" parameterType="test.cafe.dto.CafeCommentDto">
		UPDATE board_cafe_comment
		SET content=#{content}
		WHERE num=#{num}
	</update>
	
	<select id="getData" parameterType="int"
		resultType="commentdto">
		SELECT num, writer, content, target_id, 
		ref_group, comment_group, 
		TO_CHAR(regdate, 'yyyy.mm.dd am HH:MI') AS regdate
		FROM board_cafe_comment
		WHERE num=#{num}
	</select>
</mapper>

